* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Tinos', serif;
	
}

body {
	background-color: rgb(49, 160, 154);
}

.romans, .numbers {
	text-align: center;
	padding: 15px 30px;
}

.container {
	margin: 0 auto;
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(255,255,255,0.1);
	padding: 40px 60px;
	margin-top: 100px;
}

.container h1 {
	margin-bottom: 20px;
}

.container > a {
	
	padding: 10px 30px;
	background-color: rgb(192, 227, 238);
	text-decoration: none;
	color: black;
	font-size: 20px;
	
}

.container input {
	padding: 20px;
	font-size: 30px;
	width: 150px;
}